@model PagedList.IPagedList<Models.ViewModel.HocVuViewModel>
@using PagedList.Mvc;
@using System.Web.Mvc.Html;

@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Index", "LichSu", FormMethod.Get))
{
	<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
		<form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
			<div class="input-group">
				<input type="search" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2" name="searchString" value="@ViewBag.SearchString">

				<div class="input-group-append">
					<button class="btn btn-primary" type="submit">
						<i class="fas fa-search fa-sm"></i>
					</button>
				</div>
			</div>
		</form>
	</nav>

}

<div class="card shadow mb-4">
	<div class="card-body">
					<div class="container">
						@NestedData.GetHtml(Model, 0)
					</div>
					@Html.PagedListPager(Model, page => Url.Action("Index", new { page, @searchString = ViewBag.SearchString }))


					<style>
						.container {
							min-width: 500px;
							overflow: auto;
						}

						.innerTable table {
							margin: 0px auto;
							border-left-width: 4px;
						}

						td.innerTable {
							padding-left: 20px !important;
						}

						.icon {
							background-image: url('../../Images/ui-icons_222222_256x240.png');
							background-repeat: no-repeat;
							width: 16px;
							height: 16px;
							display: inline-block;
							float: left;
						}

						.icon-e {
							background-position: -32px -16px
						}

						.icon-s {
							background-position: -64px -16px
						}
					</style>
				</div>
			</div>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>

<script type="text/javascript">
	if (typeof jQuery.fn.live == 'undefined' || !(jQuery.isFunction(jQuery.fn.live))) {
		jQuery.fn.extend({
			live: function (event, callback) {
				if (this.selector) {
					jQuery(document).on(event, this.selector, callback);
				}
			}
		});
	}
	$(document).ready(function () {
		$('.icon').click(function () {
			var $pRow = $(this).parents('tr');
			var $nextRow = $pRow.next('tr');
			$nextRow.toggle();
			$(this).toggleClass('icon-s icon-e');
		});
	});
</script>


